body{
}

glogo {
    width:50px;
    display: grid;
    place-items: center;
}
headertop{
    display:grid;
    grid-template-columns: 10% 30% 1fr 5% 5%;
}
footer {
    display:flex;
align-items: flex-start;
}
spac{
min-width: 10%;
max-width: 20%;
}
secondfooter{
display:flex;
align-items: flex-start;
}
sbuttons{
    display:grid;
    place-items: center;
}
sbox{
    display:flex;
    justify-content: center;

}
#searchbox{border-radius: 25px;
border-width: 2px;
height:40px;
width:500px;
}