body{
}

glogo {
    display: grid;
    place-items: center;
}
header {
    display:grid;
    grid-template-columns: repeat(2,auto) 1fr repeat(4,auto);
}
footer {
    display:flex;
align-items: flex-start;
}
spac{
min-width: 10%;
max-width: 20%;
}
secondfooter{
display:flex;
align-items: flex-start;
}
sbuttons{
    display:grid;
    place-items: center;
}
sbox{
    display:flex;
    justify-content: center;

}
#searchbox{border-radius: 25px;
border-width: 2px;
height:40px;
width:500px;
}