body{
}

glogo {
    width:50px;
    display: grid;
    place-items: center;
}
headertop{
    display:grid;
    grid-template-columns: 10% 30% 1fr 5% 5%;
}
bottomheader{
display:grid;
grid-template-columns: 10% repeat(8,4%);
}
footer {
    display:flex;
align-items: flex-start;
}
spac{
min-width: 10%;
max-width: 20%;
}
secondfooter{
display:flex;
align-items: flex-start;
}
sbuttons{
    display:grid;
    place-items: center;
}
sbox{
    display:flex;
    justify-content: center;

}
#searchbox{border-radius: 25px;
border-width: 2px;
height:30px;
width:400px;
}
allresults{
    display:grid;
    grid-template-columns: 10% 1fr;
}
resultbox{
    display:flex;
    flex-direction: column;
}